*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
 a{
     text-decoration: none;
     color: #FFFFFF;
 }
a:hover{
    display: inline-block;
    color: red;
    background-color: #33AC38;

}
 body{
     font-family: 'Montserrat', 'Roboto', sans-serif;
 }
 .container-title{
     background: black;
     max-width: 1440px;
     height: 2100px;
     margin: 0 auto;
     padding: 0 15px;
 }
.container {
    max-width: 1440px;

}
.top-header {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding: 83px 30px 22px 27px;

}
.top-menu {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 50px;
}
.line{
    width: 1440px;
    height: 1px;
   background-color:  #2D96E3;
    margin: 22px 0 0 -42px;

}
.top-menu_item,
.top-menu_item1,
.top-menu_item2,
.top-menu_item3 {
    width: 197px;
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #E5E5E5;
    margin: 0 10px;
    border-radius: 3px;
    background: #292E50;
    padding: 7px 10px;
}
.top-menu_item1{
    color: #E5E5E5;
}
.top-menu_item2{
    width: 88px;
    height: 38px;
 }
.top-menu_item3{
    width: 88px;
    height: 38px;
}
.svg{
    margin: 0 10px;
}
#films{
    position:absolute;
    display: flex;
}

.box{
    position: relative;
    width: 738px;
    height: 274px;
    background: linear-gradient(244.93deg, rgba(41, 46, 80, 0.77) 44.75%, rgba(41, 46, 80, 0) 102.66%);
    box-shadow: inset 0px 4px 12px #000000;
    margin: 224px 0 0px 50px;

}
.box1{
    position: relative;
    width: 388px;
    height: 274px;
    background: linear-gradient(180deg, #20243E 0%, rgba(32, 36, 62, 0) 87.04%);
    box-shadow: inset 0px 4px 12px #000000;
    margin: 224px 0 0 129px;

}
.img1{
    margin: -87px 0px 0 324px;
}
.img2{
    margin: -60px 0px 0px 100px;
}
.img3{
    margin: 0 -10px;
}
h3{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 42px 0px 0px 45px;
}
p{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 75px 0px 0px 45px;
}
.title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #E5E5E5;
    padding: 592px 0 0 47px;

}
#top-films{
    padding: 692px 0 0 47px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.col-3{
    width: 338px;
    height: 227px;
    padding: 0 10px;
    margin-top: 21px;
}
.item{
    width: 100%;
    height: 100%;
    background: url("https://cdn1.savepice.ru/uploads/2020/3/27/2181264ef14bfbc724dd635a9da2673d-full.png") no-repeat center/cover;

}
.item-1{
    width: 100%;
    height: 100%;
    background: url("https://cdn1.savepice.ru/uploads/2020/3/27/d5bd2e6e611f967f508b66a4273d862b-full.png") no-repeat center/cover;
}
.item-2{
    width: 100%;
    height: 100%;
    background: url("https://cdn1.savepice.ru/uploads/2020/3/27/1d3a7000abdd9ac3f82d411cf85faf08-full.png") no-repeat center/cover;
}
.item-3{
    width: 100%;
    height: 100%;
    background: url("https://cdn1.savepice.ru/uploads/2020/3/27/73ae26ef4f3d25fcdd1e959a6752f326-full.png") no-repeat center/cover;
}
.col-3-1{
    width: 338px;
    height: 168px;
    padding: 0 10px;
    margin-top: 21px;

}
.item1{
    width: 100%;
    height: 100%;
    background: #292E50;

}
.title-1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #E5E5E5;
    padding: 20px 0 0px 10px;

}

span{
    font-weight: 200;
    font-size:20px;
}
.btn{
    display: inline-block;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    background: #4985FF;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    border: none;
    padding-top: 8px;
    margin: 28px 0 0px 9px;
}
.box-btn{
    width: 88px;
    height: 50px;
    background: #4B4C51;
    border-radius: 2px;
    margin: -50px 0 0px 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(85% 85% at 50% 50%, #33AC38 40.1%, rgba(10, 163, 16, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 14px 0 0px 10px;
}